html{
    font-size: 15px;
    color: white;
    box-sizing: border-box;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}


/* Intro styles */

.intro{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/desktop/image-hero.jpg");
    display: flex;
    flex-direction: column;
}

header{
    margin: 3rem 10rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo img{
    height: 100%;
}

header ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

header li{
    list-style: none
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    position: relative;
}

header ul li a:before{
    content: " ";
    width: 100%;
    height: 0.2rem;
    background-color: white;
    position: absolute;
    top: 0.8rem;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

header ul li a:hover:before{
    top: 1.7rem;
    opacity: 1;
}

.icon-hamburguer, .icon-cross{
    display: none;
}

.intro div{
    border: 2px solid white;
    width: 40rem;
    margin-left: 10rem;
    margin-top: 4.5rem;
}

h1{
    font-size: 4.5rem;
    padding: 1.5rem 2.5rem;
    line-height: 4.2rem;
}


/* Leader Styles*/
.leader{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.img-container{
    margin-left: 10rem;
}

.text-container{
    position: absolute;
    color: black;
    background-color: white;
    width: 35.7rem;
    height: 26rem;
    padding: 0 0 0 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    top: 16.5rem;
    left: 48rem;
}

h2{
    font-size: 3rem;
    line-height: 3rem;
}

.text-container p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: hsl(0, 0%, 41%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}



/* Creations Styles */

.creations{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
    margin: 3rem 0
}

.top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10rem;
}

.top h2{
    color: black;
    font-size: 3rem;
}

.models button{
    border: 2px solid hsl(0, 0%, 41%);
    background-color: white;
    font-size: 1.1rem;
    padding: 0.6rem 2.5rem;
    letter-spacing: 0.2rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: -8.5rem;
    right: 10rem; 
}

.models button:hover{
    background-color: black;
    color: white;
    border-color: black;
}

.models{
    padding: 0 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    margin-bottom: 10rem;
}



.card{
    width: 15.8rem ;
    height: 28rem;
    background-color: aqua;
    display: flex;
}

.earth{
    background-image: url("images/desktop/image-deep-earth.jpg");
    background-size: cover;
}

.night{
    background-image: url("images/desktop/image-night-arcade.jpg");
    background-size: cover;
}

.soccer{
    background-image: url("images/desktop/image-soccer-team.jpg");
    background-size: cover;
}

.grid{
    background-image: url("images/desktop/image-grid.jpg");
    background-size: cover;
}

.above{
    background-image: url("images/desktop/image-from-above.jpg");
    background-size: cover;
}

.borealis{
    background-image: url("images/desktop//image-pocket-borealis.jpg");
    background-size: cover;
}

.curiosity{
    background-image: url("images/desktop/image-curiosity.jpg");
    background-size: cover;
}

.fisheye{
    background-image: url("images/desktop/image-fisheye.jpg");
    background-size: cover;
}

.card-footer{
    display: flex;
    align-self: flex-end;
    padding: 1.5rem 0 1.5rem 1.5rem;
    width: 90%;
}

.card-footer h3{
    font-size: 1.9rem;
}




/*Footer Styles */  

footer{
    display: flex;
    padding: 3rem 10rem;
    background-color: black;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.footer-top{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}

.footer-logo{
    width: 10rem;
}

.footer-top ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.footer-top a{
    text-decoration: none;
    color: white;
    position: relative;
}


.footer-top ul li a:before{
    content: " ";
    width: 100%;
    height: 0.2rem;
    background-color: white;
    position: absolute;
    top: 0.8rem;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.footer-top ul li a:hover:before{
    top: 1.7rem;
    opacity: 1;
}



.footer-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
}

.footer-bottom p{
    color: hsl(0, 0%, 41%)
}



.footer-logos{
    display: flex;
    gap: 1rem;
    align-self: flex-end;
}

.footer-logos img{
    width: 1.2rem;
}


.footer-logos a{
    position: relative;
}

.footer-logos a:before{
    content: " ";
    width: 100%;
    height: 0.2rem;
    background-color: white;
    position: absolute;
    top: 0.8rem;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.footer-logos a:hover:before{
    top: 1.7rem;
    opacity: 1;
}







@media (max-width: 992px){

    /*Intro Styles */
    header{
        width: 90%;
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .logo{
        line-height: 0;
        height: 1.5rem;
    }

    .icon-hamburguer{
        display: unset;
        width: 2rem;
        height: 1.5rem;
        cursor: pointer;
    }
    
    .icon-cross{
        width: 1.6rem;
        height: 1.5rem;
        cursor: pointer;
        position: fixed;
        z-index: 100;
        right: 5%;
        top: 2rem;
    }

    .icon-visible{
        display: unset;
    }

    .icon-hidden{
        display: none;
    }

    .logo-visible{
        position: fixed;
        left: 5%;
        top: 2rem;
        z-index: 100;
    }
    

    header ul{
        display: none;
        gap: 1.6rem;
    }

    .menu-active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: black;
        padding: 0 5%;
        z-index: 90;
    }

    header ul li a{
        font-size: 1.6rem;
        text-transform: uppercase;
        
    }



    .logo img{
        height: 100%;
    }

    .intro{
        background-image: url("images/mobile/image-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .intro div{
        border: 2px solid white;
        width: 90vw;
        margin: 5.5rem 0;

    }

    h1{
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    /* Leader Styles*/
    .leader{
        margin-top: 5rem;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
    }

    .img-container{
        margin: 0;
        width: 90vw;
    }

    .img-container img{
        content: url("images/mobile/image-interactive.jpg");
        width: 100%;
    }

    .text-container{
        position:unset;
        padding: 0;
   
    }

    h2{
        font-size: 2.3rem;
        line-height: 3rem;
        text-align: center;
    }
    
    .text-container p{
        text-align: center;
        margin: 0 10%;
    }


    /* Creations Styles */

    .creations{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0;
        gap: 3rem;
    }

    .top{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .top h2{
        color: black;
        font-size: 2.3rem;
        width: 100%;
        text-align: center;
    }

    .models{
        padding:0;
        align-items: center;
        justify-content: center;
    }

    .models button{
        top: initial;
        left: 0;
        right: 0;
        margin:auto;
        bottom: -5rem;
    }

    .card{
        width: 90vw ;
        height: 9rem;
    }

    .earth{
        background-image: url("images/mobile/image-deep-earth.jpg");
    }

    .night{
        background-image: url("images/mobile/image-night-arcade.jpg");
    }

    .soccer{
        background-image: url("images/mobile/image-soccer-team.jpg");
    }

    .grid{
        background-image: url("images/mobile/image-grid.jpg");
    }

    .above{
        background-image: url("images/mobile/image-from-above.jpg")
        ;
    }

    .borealis{
        background-image: url("images/mobile/image-pocket-borealis.jpg");
    }

    .curiosity{
        background-image: url("images/mobile/image-curiosity.jpg");
    }

    .fisheye{
        background-image: url("images/mobile/image-fisheye.jpg");
    }

    .card-footer{
        width: 50%;
    }

    /* FOOTER STYLES*/

    footer{
        flex-direction: column;
        padding: 3rem 0;
    }

    .footer-top{
        align-items: center;
    }
    
    .footer-top ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
    }

    .footer-bottom{
        align-items: center;
        justify-content: center;
    }

    .footer-logos{
        align-items: center;
        justify-content: center;
        align-self: center;
    }

}